<main>
  <div class="main-container">
    <section class="faq-container">
      <h2 class="faq-title">Frequently Ask Questions</h2>
      <div class="faq-row">
        <mat-card class="faq-card">
          <div class="faq-card-content">
            <div class="icon-container">
              <mat-icon class="fa-regular fa-envelope"></mat-icon>
            </div>
            <h3>¿Cómo puedo dejar reseñas sobre mi experiencia con un servicio veterinario reservado a través de Vet Connect?</h3>
            <p>Después de cada cita reservada a través de Vet Connect, los usuarios recibirán un enlace para dejar una reseña y calificar su experiencia con el centro veterinario y el profesional.</p>
          </div>
        </mat-card>

        <mat-card class="faq-card">
          <div class="faq-card-content">
            <div class="icon-container">
              <mat-icon class="fa-regular fa-credit-card"></mat-icon>
            </div>
            <h3>¿Cuál es el proceso para reservar una cita a través de Vet Connect?</h3>
            <p>El proceso de reserva de citas a través de Vet Connect es simple: los usuarios seleccionan el servicio deseado, el veterinario o centro veterinario, el día y la hora convenientes, y completan la reserva en pocos clics</p>
          </div>
        </mat-card>

        <mat-card class="faq-card">
          <div class="faq-card-content">
            <div class="icon-container">
              <mat-icon class="fa-solid fa-ban"></mat-icon>
            </div>
            <h3>¿Qué sucede si necesito cancelar o reprogramar una cita reservada a través de Vet Connect?</h3>
            <p>La reprogramación de citas no está disponible a través de la plataforma de Vet Connect. Para cancelaciones o cambios, debes comunicarte directamente con el centro veterinario correspondiente.</p>
          </div>
        </mat-card>
      </div>

      <div class="faq-row">
        <mat-card class="faq-card">
          <div class="faq-card-content">
            <div class="icon-container">
              <mat-icon class="fa-solid fa-city"></mat-icon>
            </div>
            <h3>¿Vet Connect está disponible solo en esta ciudad?</h3>
            <p>Sí, Vet Connect está disponible exclusivamente en la ciudad de Lima, conectando a los usuarios con centros veterinarios y profesionales locales.</p>
          </div>
        </mat-card>

        <mat-card class="faq-card">
          <div class="faq-card-content">
            <div class="icon-container">
              <mat-icon class="fa-solid fa-pencil"></mat-icon>
            </div>
            <h3>¿Cómo puedo configurar mi perfil en Vet Connect?</h3>
            <p>Vaya a la Pantalla de Inicio > Click en la Foto de Perfil > Configuración de mi Perfil y con eso ya estaría en la sección para editar la información de su perfil.</p>
          </div>
        </mat-card>

        <mat-card class="faq-card">
          <div class="faq-card-content">
            <div class="icon-container">
              <mat-icon class="fa-solid fa-user"></mat-icon>
            </div>
            <h3>¿Qué tipos de servicios veterinarios puedo reservar a través de Vet Connect?</h3>
            <p>Vet Connect ofrece una amplia variedad de servicios veterinarios, incluyendo consultas generales, procedimientos especializados, desparasitaciones, tratamientos de higiene y más, todos disponibles para reserva en línea.</p>
          </div>
        </mat-card>
      </div>
    </section>

    <section class="policy-container">
      <mat-card class="policy-card">
        <h2 class="policy-title">Policy Terms</h2>
        <mat-card-content>
          <h2>Política de términos de Vet Connect:</h2>
          <h3>Reservas y Citas:</h3>
          <ul>
            <li>Los usuarios pueden programar citas veterinarias a través de la plataforma en línea de Vet Connect.</li>
            <li>Las reservas están sujetas a disponibilidad y pueden variar según la ubicación y el servicio requerido.</li>
            <li>Se recomienda a los usuarios que reserven con anticipación para garantizar la disponibilidad deseada.</li>
          </ul>
          <h3>Responsabilidad del Usuario:</h3>
          <ul>
            <li>Los usuarios son responsables de proporcionar información precisa y actualizada sobre sus mascotas al programar citas.</li>
            <li>Los usuarios deben cumplir con las políticas y procedimientos de las clínicas veterinarias asociadas durante las citas programadas.</li>
          </ul>
          <h3>Calificaciones y Reseñas:</h3>
          <ul>
            <li>Los usuarios pueden dejar comentarios y calificaciones sobre sus experiencias con los servicios veterinarios recibidos a través de Vet Connect.</li>
            <li>Se anima a los usuarios a proporcionar comentarios constructivos y precisos para ayudar a otros miembros de la comunidad.</li>
          </ul>
          <h3>Privacidad y Seguridad:</h3>
          <ul>
            <li>Vet Connect se compromete a proteger la privacidad y seguridad de la información personal y médica de los usuarios y sus mascotas.</li>
            <li>La información proporcionada por los usuarios se utilizará únicamente con el propósito de facilitar las citas veterinarias y mejorar la experiencia del usuario en la plataforma.</li>
          </ul>
          <h3>Modificaciones de los Términos:</h3>
          <ul>
            <li>Vet Connect se reserva el derecho de actualizar y modificar estos términos en cualquier momento sin previo aviso.</li>
            <li>Se alienta a los usuarios a revisar periódicamente los términos para estar al tanto de cualquier cambio.</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </section>
  </div>
</main>
