<section class="container-profile">
  <div class="user-card">
    <div class="image-upload-container">
      <img [src]="userImage" class="user-image" />
      <input type="file" (change)="onFileSelected($event)" hidden #fileInput />
      <button
        mat-raised-button
        color="primary"
        (click)="fileInput.click()"
        class="upload-button"
      >
        Upload
      </button>
    </div>

    <form [formGroup]="profileForm" class="user-details">
      <mat-form-field appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput id="fullName" formControlName="fullName" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          id="password"
          formControlName="password"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mobile Number</mat-label>
        <input
          matInput
          type="tel"
          id="mobileNumber"
          formControlName="mobileNumber"
        />
      </mat-form-field>

      <input type="hidden" formControlName="userImage" />
    </form>
  </div>
  <button
    mat-raised-button
    color="primary"
    class="save-button"
    (click)="onSave()"
  >
    ACEPTAR Y GUARDAR
  </button>
</section>
