<div class="flex-container">
    <div class="user-card">
      <div class="image-upload-container">
        <img src="  " class="user-image">
        <button mat-raised-button class="upload-button">Upload</button>
      </div>
  
      <div class="user-details">
        <h4>Name</h4>
        <div class="input-group">
          <label for="fullName"></label>
          <input type="text" id="fullName">
          <button mat-icon-button>
            <mat-icon>✎</mat-icon>
          </button>
        </div>
  
        <h4>Password</h4>
        <div class="input-group">
          <label for="password"></label>
          <input type="password" id="password">
          <button mat-icon-button>
            <mat-icon>✎</mat-icon>
          </button>
        </div>
  
        <h4>Mobile Number</h4>
        <div class="input-group">
          <label for="mobileNumber"></label>
          <input type="tel" id="mobileNumber">
          <button mat-icon-button>
            <mat-icon>✎</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <button mat-raised-button class="save-button">ACEPTAR Y GUARDAR</button>
  </div>
  