mat-card {
    max-width: 400px;
    margin: 2em auto;
    padding: 1em;
  }
  
  mat-form-field {
    width: 100%; /* Hace que los campos ocupen el ancho completo del card */
  }
  
  button {
    margin-top: 20px; /* Espacio por encima del botón */
    /*centrar boton*/
    display: block;
    margin: 0 auto;
  }
  
  /*responsive*/
  @media (max-width: 600px) {
    mat-card {
      margin: 1em;
    }
  }
  