.example-card {
  width: 400px;
  height: 404px;
  padding: 1rem 2rem;
}

.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0 1rem 0;

  & p {
    display: flex;
    justify-content: space-between;
  }
}

.info-service{
  border-radius: 10px;
  background-color: #FFF2E0;
  margin: 0 2em;

}

.info-service-content{
  padding: 1.2em;
}
.add-info{
  width: 100%;
}
.add-info-content{
  padding: 1.2em;
  justify-items: center;
  width: 100%;
}

.form-title-info{
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 1px;
}
.textarea-info{
  resize: none;
  height: 95px;
  width: 100%;
  border: none;
}

.button-confirm{
  border-radius: 10px;
  background-color: #E8FFF9;
  color: #176A56;
  border: 4px solid #54D6B6;
}

textarea:focus {
  outline: none;
}
