.container {
  display: flex;
  align-items: flex-start; /* Asegura que los elementos se alineen en la parte superior */
  gap: 20px; /* Espacio entre los elementos */
  margin: auto;
  margin-top: 3rem;
}

.container-cards {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.list-article {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
