<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title> <h2>{{ vetCenter.name }}</h2></mat-card-title>
    <mat-card-subtitle>***** 233 Reviews</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="vetCenter.imageProfile" [alt]="vetCenter.imageProfile" />
  <mat-card-content>
    <p>{{'VetCard.phone' | translate }}: {{ vetCenter.phone }}</p>
    <p>
      <span>{{'VetCard.Consulta' | translate}}</span>
      <span>{{ vetCenter.id | currency: 'PEN '}}</span>
    </p>
    <p>
      <span>{{'VetCard.Banio' | translate}}</span>
      <span>{{ vetCenter.id | currency: 'PEN '}}</span>
    </p>
  </mat-card-content>
  <mat-card-actions style="display: flex; gap: 3rem; justify-content: center">
    <a
      mat-stroked-button
      class="btn"
      [routerLink]="isOnMainRoute() ? '/vet-centers/' + vetCenter.id : '/user-dashboard'"
    >
      {{ isOnMainRoute() ? "See More" : "Go Back" }}
    </a>
    <a mat-stroked-button class="btn" [routerLink]="'/payment/' + vetCenter.id">
      Payment
    </a>
  </mat-card-actions>
</mat-card>
