.calendar-state {
  display: flex;
  flex-direction: column;
}

.container-calendar {
  padding: 5rem;
}

.calendar {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--kt-bg-green-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5rem;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color: var(--kt-bg-green);
  color: var(--kt-bg-light);
}

/* .mat-button-toggle-group-appearance-standard {
  border: 1px solid var(--kt-bg-green);
  border-style: unset !important;
} */
