<div class="insurance-card">
    <mat-card-header>
        <mat-card-title>
        <h2>{{"Insurance.title" | translate}}</h2>
        <img src="https://scontent.flim2-1.fna.fbcdn.net/v/t1.6435-9/120271269_3636875302991788_4739064147511324078_n.jpg?stp=dst-jpg_p526x296&_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH50U5eWRpBRc_2jIQDNUoMvQHPPlywLey9Ac8-XLAt7EJepCSEmioaCEjQD2rfI4KeaS4fLCGL_aarHz4p-_Q2&_nc_ohc=LVokTNSG5K8Q7kNvgEBXt8j&_nc_ht=scontent.flim2-1.fna&oh=00_AYB-zqU66OEQisf8_UogPZxJz_0ZzVHig4eLYDDHCoekFg&oe=6699F133" alt="insurance">
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{"Insurance.description" | translate}}</p>
    </mat-card-content>
</div>
