@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kt-bg-base: #fef1de;
  --kt-bg-dark: #191919;
  --kt-bg-orange: #ffbb57;
  --kt-bg-card: #ffffff;
  --kt-bg-green: #196c58;
  --kt-bg-green-light: #0abb92;
  --kt-bg-light: #fefefe;
  --kt-bg-btn: #eafbf6;
  --mat-standard-button-toggle-selected-state-text-color: #fff;
}
header,
nav,
main,
aside,
form,
footer,
div,
section,
article,
fieldset,
summary,
legend,
menu,
figure,
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
input,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
label,
canvas,
details,
img {
  margin: 0;
  padding: 0;
  letter-spacing: initial;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--default);
  font-size: var(--text-normal);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Kanit", sans-serif;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--kt-bg-base);
  color: var(--default);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
