<main class="main-vet-details">
  <div class="vet-details-list-card">
    <card class="vet-details-card" [vetCenter]="vetCenter" />
    <app-google-maps-details
      class="google-maps-container"
    ></app-google-maps-details>
    <time-card class="vet-details-time-card"></time-card>
  </div>

  <mat-card class="vet-details-profile-description">
    <mat-card-title
      >{{ "Vet.DescriptionProfile.TitleProfile" | translate }}
    </mat-card-title>
    <mat-card-content>
      <p>{{ vetCenter.description| translate }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="vet-details-profile-services">
    <mat-card-title
      >{{ "VetServiceProfile.TitleService" | translate }}
    </mat-card-title>
    <mat-card-content>
      <p>{{ vetCenter.description | translate }}</p>
    </mat-card-content>
  </mat-card>

  <!-- <mat-card class="vet-details-profile-opinions"> Puede servir en caso tengamos el endpoint de reviews
    <mat-card-title>{{ 'VetOpinionOfClient.TitleOpinion' | translate }}</mat-card-title>
    <mat-card-content>
      <div *ngFor="let review of vetCenter.reviews"> Ensure you have an array of reviews 
        <div class="review">
          <h5>{{ review.reviewerName }}</h5>
          <p class="review-date">★★★★★ {{ review.date | date }}</p>
          <p>{{ review.comment }}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card> -->
  <app-vet-center-reviews></app-vet-center-reviews>
</main>
