<main class="main-vet-details">
  <div class="vet-details-list-card">

    <card class="vet-details-card" [vetCenter]="vetCenter" />
    <app-google-maps-details></app-google-maps-details>
    <time-card class="vet-details-time-card"></time-card>
  </div>

  <mat-card class="vet-details-profile-description">
    <mat-card-title>{{ 'Vet.DescriptionProfile.TitleProfile'| translate }} </mat-card-title>
    <mat-card-content>
      <p>{{ vetCenter.description| translate }}</p>
    </mat-card-content>
  </mat-card>
</main>



