.main-vet-details{
  max-width: none;
}

.vet-details-list-card {
  display: flex;
  gap: 2rem;
  padding: 5rem 0;
}

.vet-details-card {
  max-width: 48rem;

}

.vet-details-time-card {
  max-width: 40rem;
}

.vet-details-profile-description {
  max-width: 100rem;
  padding: 2rem;
}

.vet-details-profile-description p {
  font-size: 1.7rem;
}

.map-button{
  text-align: center;
}




.vet-description {
  color: #333; /* Cambia el color del texto si es necesario */
  font-size: 16px; /* Ajusta el tamaño del texto según prefieras */
}
