/* .main-vet-details {
  max-width: none;
} */

.vet-details-list-card {
  display: flex;
  gap: 2rem;
  padding: 5rem 0;
}

.vet-details-card {
  max-width: 48rem;
}

.vet-details-time-card {
  max-width: 40rem;
}

/**-----card para la descripcion de la ve------*/
.vet-details-profile-description {
  max-width: 980px;
  padding: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.vet-details-profile-description p {
  font-size: 1.7rem;
}

/**-----card para los servicios------*/
.vet-details-profile-services {
  margin-top: 2rem;
  max-width: 980px;
  padding: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.vet-details-profile-services p {
  font-size: 1.7rem;
}


/* .google-maps-container {
  max-width: 500px;
  width: 100%;
} */

@media screen and (max-width: 768px) {
  .vet-details-list-card {
    flex-direction: column;
  }

  /*   
  .google-maps-container {
    max-width: 50rem;
  } */
}
